<h1>{{post.title}}</h1>
<h1>{{post.content}}</h1>
<h1>{{post.writer}}</h1>
<h1>{{post.drafted}}</h1>
{% for tag in post.tags.all %}
    <h1>{{tag}}</h1>
{% endfor %}
<h1>{{post.created_at}}</h1>

    <img src="{{post.image.url}}" enctype='multipart/form-data'>
    <h1>Comments</h1>
    <hr>
    <ul>
    {% for comment in post_comments %}
        <li>
            <h4>{{comment.comment}}</h4>
        </li>
    
    {% endfor %}
    </ul>

    <h1>add new comment</h1>
    <hr>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
    <input type="submit" value="add">
    </form>
    
    
    
